<html><head><link href="classpath:/template.css" rel="stylesheet"/></head><body><img src="classpath:/basis.png" /> <p class="classpath:/template.css"> <h1>TERMO DE COMPROMISSO DE MANUTENÇÃO DE SIGILO<br></br><hr></hr></h1>
<p>
  A Basis Tecnologia da Informação S.A., sediada em ST SCS
  QUADRA 8 BLOCO B - Lotes, 50/60 - Venâncio shopping-SALAS 824 a 842
  (pares) - Asa Sul, Brasília, DF,doravante
  denominado CONTRATANTE, e, de outro lado, o(a) ${user.name} CPF: ${user.cpf} SSP/MA nos quais
  o FUNCIONÁRIO poderá ter acesso a informações sigilosas dos clientes da
  CONTRATANTE; CONSIDERANDO a necessidade de ajustar as condições
  de revelação destas informações sigilosas, bem como definir as regras para o
  seu uso e proteção;
</p></p>
<div style="align-items: center">
<table style="text-align: center;padding: 40px">
  <tr>
    <td><hr style="width:100%"></td>
    <td><hr style="width:100%"></td>
  </tr>
  <tr>
    <td>Basis Tecnologia</td>
    <td>${user.name}</td>
  </tr>
</table>
</div>
</body></html>
